MainMenu 
	{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(black, 0.1);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	pointer-events: all;


	.title 
	{
		bottom: 40;
		font-size: 175px;
		font-family: Poppins;
		color: #fff;
		text-stroke: 8px black;
		color: white;
		bottom: 300;
	}

	.button 
	{
		bottom: 100;
		font-size: 100px;
		font-family: Poppins;
		color: #fff;
		text-stroke: 8px black;
		color: white;
		right: 820;
		top: 0;
	}
	.options
	{
		flex-direction: column;

		
		> .button
		{
			&.start
			{
				&:hover
				{
					color: palegreen;

				}
			}
			&.exit
			{
				&:hover
				{
					color: red;
				}
			}
			&:hover
			{
				sound-in: ui.button.over;
				transform: scale(1.1);
			}
			&:active
			{
				sound-in: click_sound;
			}
		}
	}
}
