@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root class="MainMenu">
    <div class="title">Tank maze</div>
    <div class="options">
        <div class="button start" onclick=@OnStart>
            Play
        </div>
        <div class="button exit" onclick=@OnExit>
            Exit
        </div>
    </div>
</root>

@code
{
    [Property] public SceneFile PlayScene { get; set; }

    void OnExit()
    {
        Game.Close();
    }

    void OnStart() 
    {
        Scene.Load(PlayScene);
        Log.Info("Start");
    }
}
